<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link rel="stylesheet" href="{% static "css\soumyanews.css" %}" >
</head>
<body>
    <h1>Todaysmovies Headline</h1>
    <ul>
        <li>{{news1|upper}}</li>
        <li>{{news2|lower}}</li>
        <li>{{news3|title}}</li>
        <li>{{news4|upper}}</li>
    </ul>
</body>
</html>