<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Counted</h1>
    <h3>Your text is: {{data}}</h3>
    <h2>Length of the word is {{ count }}</h2>
    <h3>sorted :</h3>
    {% for word,value in sort %}
    {{word}} = {{value}}
    {% endfor%}
</body>
</html>